@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0 8%;
        --foreground: 210 20% 98%;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --popover: var(--background);
        --popover-foreground: 210 20% 98%;
        --primary: 263.4 70% 50.4%;
        --primary-foreground: 210 20% 98%;
        --secondary: 0 0 15%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 8px.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0, 84%, 60%, 0.75;
        --destructive-foreground: 0, 84%, 60%, 0.75;
        --border: 0 0 15%;
        --input: 215 27.9% 16.9%;
        --ring: 263.4 70% 50.4%;
        --radius: 0.5rem;

        /* Gray Shades */
        --gray-08: 0 0 8%;
        --gray-10: 0 0 10%;
        --gray-15: 0 0 15%;
        --gray-20: 0 0 20%;
        --gray-30: 0 0 30%;
        --gray-40: 0 0 40%;
        --gray-50: 0 0 50%;
        --gray-60: 0 0 60%;

    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;

        font-family: "Urbanist", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;

        min-height: 100vh;
        background: hsl(var(--gray-08));
    }

    h1,
    h2,
    h3,
    h4 {
        @apply font-semibold
    }

    .border-gradient-wraper {
        position: relative;
        background: linear-gradient(130deg, hsl(var(--primary)) 0%, hsl(var(--border)) 36%);
        border-radius: 0 8px 8px 8px;
        padding: 1px;
    }

    .gradient-primary {
        background: linear-gradient(130deg, hsl(var(--primary)) -50%, hsl(var(--gray-08)) 20%);
        border-radius: 0 8px 8px 8px;
    }
}